.card {
    padding: 16px 20px;
    margin: 5px 7px;
    border: 1px solid black;
    box-shadow: 1px 2px 3px 4px #ccc;
    box-sizing: border-box;
}

@media(max-width: 500px) {
    .card {
        padding: 16px 3px;
        margin: 10px 7px;
    }
}

@media(max-width: 280px) {
    .card {
        padding: 16px 3px;
        margin: 10px 7px;
    }
}