.card {
    border: 1px solid #ccc;
    padding: 20px 1px;
    margin: 9% 8px;
    position: fixed;
    left: 35%;
    right: 35%;
    border-radius: 1em;
    background: #fff;
    box-shadow: 1px 2px 9px 0px #ccc;
    text-align: center;
    z-index: 102;
}

@media (min-width: 541px) {
    .card {
        left: 25%;
        right: 25%;
    }
}

@media (max-width: 540px) {
    .card {
        left: 10%;
        right: 10%;
    }
}

@media (max-width: 280px) {
    .card {
        left: 11%;
        right: 11%;
    }
}