.card {
    border: 1px solid #fff;
    padding: 20px 1px;
    margin: 15% 8px;
    position: fixed;
    left: 35%;
    right: 35%;
    background: #f4f2f2;
    box-shadow: 1px 0.1px 3px 0.5px;
    text-align: center;
    z-index: 102;
}

@media (min-width: 541px) {
    .card {
        left: 10%;
        right: 10%;
    }
}

@media (max-width: 540px) {
    .card {
        left: 10%;
        right: 10%;
    }
}

@media (max-width: 280px) {
    .card {
        left: 11%;
        right: 11%;
    }
}