.header_containers {
    margin: -6em 0em;
    /* overflow-y: scroll; */
    /* margin-right:  65em;  */
    height: 100vh;
    /* background-color:  0.0); */
    /* box-shadow: 3px 1px 2px 1px #1334; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    opacity: 1;
    border: 1px solid #fff;
    position: fixed;
    text-align: center;
    z-index: 60;
    left: 0;
    width: 70%;
}

@media (max-width: 499px) {
    .header_containers {
        position: fixed;
        margin-top: -9em;
        width: 60%;
    }
}

@media (max-width: 300px) {
    .header_containers {
        position: fixed;
        margin-top: -11em;
        width: 70%;
    }
}

@media (min-width: 500px) {
    .header_containers {
        display: none;
    }
}

.container_div {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ul_container {
    list-style: none;
}

.ul_li {
    text-decoration: none;
    color: orange;
    opacity: 0.7;
}

.div_container {
    display: flex;
    font-size: 1.5em;
    margin: 10px 0px;
}

.icons {
    margin: 0px 8px;
}